{
  "singleQuote": true,
  "semi": true,
  "printWidth": 120,
  "tabWidth": 2,
  "trailingComma": "es5",
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrder": [
    "^(react|react-dom)(.*)$",
    "",
    "<THIRD_PARTY_MODULES>",
    "",
    "^@courte/(.*)$",
    "",
    "^@/(.*)$",
    "",
    "^[./]"
  ]
}
